.App {
  text-align: center;
}

.page {
  height: 100vh;
  width: 100vw;
}

.dark-mode-button {
  background-color: black;
  color: white;
}

.light-mode-button {
  background-color: white;
  color: black;
}

body {
  padding: 0px;
  margin: 0px;
}

input, label {
  display: block;
  margin: 8px auto;
}

input {
  padding: 8px;
  width: 300px;
}

input[type=submit] {
  width: 100px;
}

.dog-pics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.column {
  position: relative;
  top: 200px;
  display: flex;
  align-items:center;
  justify-content:center;
  float: left;
  width: 80px;
  height: 80px;
  padding: 40px;
  margin-left: 5%;
  border: 1px solid black;
}
